<%- contentFor('body') %>
<div class="row">
  <div class="col s12 center">
    <h1><%= data.titulo %></h1>
  </div>
</div>


    <div class="row">
      <div class="col s12 m12 l6">
        <img class="imagem" src="../images/caiaque.jpg">
      </div>
      <div class="col s12 m12 l6 center">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h5>Valor: R$ <%= doc.vlrVenda %></h5>
        <br>
        <button class="waves-effect waves-light btn-large orange">Ligar Agora </button>
      </div>
    </div>
